language: python
python:
    - "3.6"
install:
    - pip install pipenv
    - pipenv install
script:
    - pytest
    - black --check .
after_success:
    - cd docs
    - make html
    - touch _build/html/.nojekyll
    - cd -
deploy:
    provider: pages
    skip_cleanup: true
    github_token: $GITHUB_API_KEY
    keep-history: true
    on:
        branch: master
    local_dir: docs/_build/html/
