# Install progress bar
tqdm

# Install pytest
pytest

# Install matplotlib for plotting of scripts
matplotlib

# Install jupyter
jupyter

# Install black
black[jupyter]

# Install spinx
sphinx
sphinx_rtd_theme
