# Install progress bar
tqdm

# Install numpy
numpy

# Install scipy
scipy

# Install pandas
pandas

# Install pytest
pytest

# Install numba
numba

# Install sympy for symbolic expressions
sympy

# Install matplotlib for plotting of scripts
matplotlib

# Install black
black

# Install spinx
sphinx
sphinx_rtd_theme
